<footer class="new_footer_area bg_color">
    <div class="new_footer_top">
        <div class="footer_bg">
            <div class="footer_bg_one"></div>
            <div class="footer_bg_two"></div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-7">
                    <p class="mb-0 f_400">© Jobify | 2020 All rights reserved.</p>
                </div>
                <div class="col-lg-6 col-sm-5 text-right">
                </div>
            </div>
        </div>
    </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../../js/app.js"></script>
    <script src="../js/showDetails.js"></script>
</footer>