<footer>
    <form id="authForm" action="/auth" method="post">
        <input id="seasonID" type="hidden" name="seasonID" value="">
    </form>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="js/app.js"></script>
</footer>