<form action="/login" method="post">
    <input type="email" name="email" value="">
    <input type="password" name="password" value="">
    <input type="hidden" class="inputSession" name="session_id" value="">
    <button></button>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="../js/auth.js"></script>
</form>