<!DOCTYPE html>
<html lang="en">
    <%- include("../../partials/head") %>
<body>
    <%- include("../../partials/header/company") %>
    <form action="/search/person/search" method="get">
        <input type="text" name="job_title" value="">
        <input type="text" name="country" value="<%= ip%>">
        <button>SEARCH</button>
    </form>
    <%- include("../../partials/footer") %>
</body>

</html>