

.navigation {
  list-style: none;
  margin: 0; 
  height: 80px;
  /* background: #68b0ab; */
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row nowrap;
  justify-content: center;
}

.navigation a {
  text-decoration: none;
  display: block;
  height: 100%;
  width: 200px;
  padding: 0 0.3em;
  text-align:center;
  color: #ecf4f3;
  line-height: 80px;
  font-size: 24px;
}

.navigation li {
  margin-left: 5px;
  margin-right: 5px;
}

.navigation a:hover {
  background: #ff7e67;
  color: #006a71;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  
  .navigation a { 
    text-align: center; 
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }

  
  .navigation li:last-of-type a {
    border-bottom: none;
  }
  
}

#logo{
  height: 80px;
  margin-left: 15px;
}



.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  /* background: #68b0ab; */
}

.wrapper a.flat-btn {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: #ecf4f3;
  background-color: #006a71;
  padding: 15px 15px;
  border-radius: 5px;
  box-shadow: 0 5px 0 0 #014347;
  margin: 0 20px;
}

.wrapper a.flat-btn2{
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: #ecf4f3;
  background-color: #ff7e67;
  padding: 15px 15px;
  border-radius: 5px;
  box-shadow: 0 5px 0 0 #b65949;
  margin: 0 20px;
}


a.flat-btn:hover {
  background-color: #ff7e67;
  box-shadow: 0 5px 0 0 #b65949;
}

a.flat-btn2:hover {
  background-color: #006a71;
  box-shadow: 0 5px 0 0 #014347;
}

a.flat-btn:active {
  transform: translateY(5px);
  box-shadow: none;
}

a.flat-btn2:active {
  transform: translateY(5px);
  box-shadow: none;
}

.avatarDiv{
  display: flex;
  justify-content: flex-start;
  align-self: center;
  padding: 0 100px;
  box-sizing: border-box;
  border-radius: 50%;
  align-content: center;
}

.avatarDiv button{
  border-radius: 50%;
  border: black solid 0px;
  width: 50px;
  height: 50px;
  object-fit: cover;
  z-index: 2;
  box-sizing: border-box;
  background-color: transparent;
  align-content: center;
}
.avatarDiv img{
  width: 48px;
  height: 48px;
  object-fit: cover;
  /* z-index: -1; */
  border-radius: 50%;
  align-self: center;
}

.dropdownMenu{
  display: none;
  z-index: 9;
}

.dropdownMenuActive{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 20px;
  top: 120px;
  /* border: black solid 2px; */
  border-radius: 0px;
  background: linear-gradient(-45deg, #68b0ab,#006a71, #68b0ab);
	background-size: 400% 400%;
    animation: gradient 15s ease infinite;  
    box-shadow:0 18px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.dropdownMenuActive a{
  padding: 10px 20px;
  font-size: 20px;
  /* border-bottom: 1px black solid; */
  font-weight: bold;
  background-color: #ecf4f38a;
  color: black;
  text-decoration: none;
  margin: 7px 15px;
  outline: none;
}

.dropdownMenuActive a:hover{
  background-color: #ff7e67;
  /* border: black solid 2px; */
  color: black;
}