.comp-div{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px auto;
    height: 50px;
    flex-wrap: nowrap;
    background-color: rgba(0, 0, 0, 0.144);
}

.comp-div > *{
    margin: 0 20px;
    width: 14%;
    color: white;
    font-size: large;
    line-height: 50px;
    overflow: hidden;
}
.comp-div form .deleteForm {
    padding: 10px 20px ;

}
.comp-div form .deleteBtn , .comp-div .updateBtn  {
    
    background-color: #ff7e67;
    color:  black;
    border-radius:5px ;
    line-height: 15px !important;
    font-size: 20px;
    padding: 15px 50px;
  
}

.comp-div form .deleteBtn:hover , .comp-div .updateBtn:hover{
    color: white ;
    background-color:  #006a71;
    cursor: pointer;
    box-shadow: 1.8px 1.8px rgb(167, 166, 166);

}