.jobTypee {
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    background: rgba(255, 255, 255, .4);
    width: 100%;
    color: black;
    display: block;
}

.jobTypee option {
    font-size: 15px;
}

.submitjobj {
    min-height: 470px;
}

.login-html3 {
    padding: 0 70px;
}