<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
<body>
    <form action="/search/company" method="get">
        <button>Company</button>
    </form>
    <% console.log(data) %>
    <% console.log(data2) %>
    <% console.log(data3) %>
    <form action="/search/job" method="get">
        <input type="text" name="title" value="">
        <input type="text" name="location" value="">
        <button>Search</button>
    </form>
</body>
<%- include("../partials/footer") %>
</html>