<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>

<body>
    <button><a href="/logout">logout</a></button>
    <% console.log(data,data2,data3) %>
</body>
<%- include("../partials/footer") %>


</html>