<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>

<body>
    <main>
        <h1 id="Title" style="margin-top: 80px;">Something went wrong...</h1>
        <h1 style="margin-top: 50px;font-size: 40px; text-align: center; color: rgb(189, 190, 190);"><%= data %> <br><a style="text-decoration: underline; font-size: 20px;" href="/">Click here to get back to homepage</a></h1>
        <%- include("../partials/footer") %>
    </main>
</body>
</html>