body {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    text-align: center;
}
footer {
    position: relative;
    /* top: 650px; */
    bottom: 0;
    width: 100%;
    margin-top: 200px;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
    /* background: #68b0ab; */
    justify-content: space-between;
    transition-property: all;
    transition-duration: .6s;
    transition-timing-function: ease;
}

.headerFlex {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    margin: 0;
    height: 80px;
    /* background: #68b0ab; */
    box-sizing: border-box;
    align-self: flex-start;
}

.mainFlex{
    display: flex;
    justify-content: center;
}