@import 'modules/footer.css';
@import 'modules/header.css';
@import 'modules/login.css';
@import 'modules/searchForm.css';
@import 'modules/signup.css';
@import 'modules/dataShown.css';
@import 'modules/companySearch.css';

