@import 'modules/footer.css';
@import 'modules/header.css';
@import 'modules/login.css';
@import 'modules/searchForm.css';
@import 'modules/signup.css';
@import 'modules/dataShown.css';
@import 'modules/companySearch.css';
@import 'modules/companyEdit.css';
@import 'modules/personSearch.css';
@import 'modules/personOffers.css';
@import 'modules/personApp.css';
@import 'modules/alert.css';
@import 'modules/submitJob.css';
@import 'modules/guestPage.css';

@import 'modules/apply.css';
@import 'modules/jobUser.css';
@import 'modules/myJobs.css';






