<header>
    <div class="flex">
        <div class="headerFlex">
            <img id="logo" src="../../imgs/jobify.png" alt="">
        </div>
        <div class="navigation">
            <li><a href="/">Home</a></li>
            <li><a href="/search/person">Find Employees</a></li>
            <li><a href="/aboutus">About us</a></li>
        </div>
        <div class="avatarDiv">
            <button onclick=""><img src="<%= data.logo%>" alt=""></button>
          </div>
    </div>
</header>
<div class="dropdownMenu">
    <a href="/company/jobs">My Jobs</a>
    <a href="/company/jobs/submit">Submit Job</a>
    <a href="/company/edit">Edit Company</a>
    <a href="/logout">Logout</a>
</div>