<header>
    <div class="flex">
        <div class="headerFlex">
            <img id="logo" src="../../imgs/jobify.png" alt="">
        </div>
        <div class="navigation">
            <li><a href="/">Home</a></li>
            <li><a href="/search/company">Find Company</a></li>
            <li><a href="/aboutus">About us</a></li>
        </div>
        <div class="wrapper">
            <a href="#" class="flat-btn2">Sign up</a>
            <a href="#" class="flat-btn">Login</a>
          </div>
    </div>
</header>